
.idea/

ktor-simple-crud/gradle/wrapper/

ktor-simple-crud/.gradle/

ktor-projects/.gradle/

ktor-projects/gradle/

ktor-projects/gradlew

ktor-projects/gradlew.bat

ktor-projects/ktor-simple-crud-dynamo/.gradle/

ktor-projects/ktor-simple-crud-dynamo/gradle/